<h5> Желаете подписаться ?</h5>
    {% if user_is_anonymous %}
<br><h4>Пожалуйста, авторизуйтесь, чтобы подписаться на данную категорию новостей</h4>
    {% else %}
    {% if is_subscribe %}
<a class="btn btn-primary float-center" href="{% url 'unsubscribe' %}">Отписаться</a><br>
<br><h4>Если больше не желаете получать уведомление о новых новостях, нажмите отписаться</h4>
    {% else %}
<a class="btn btn-primary float-center" href="{% url 'subscribe' %}">Подписаться</a><br>
<br><h4>Если хотите получать уведомления о новых новостях, вы можете подписаться на данную категорию</h4>
    {% endif %}
    {% endif %}
